<div class="profile">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h3>Profile name</h3>
                <img src="/images/avatar.png" alt="profile">
            </div>
            <div class="col-8">
                <h3>Name: {{user.name}}</h3>
                <p>Email: {{user.email}}</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat illo ex reprehenderit sint cumque commodi! Sit quia maiores vero ipsam, nesciunt omnis obcaecati ratione aliquam enim ipsum alias inventore, ea minima ad soluta eum facilis quasi molestiae placeat tempore quibusdam. Perspiciatis, dolor facilis molestiae tempora corrupti iusto nobis? Perferendis, corrupti?</p>
            </div>
        </div>
    </div>
</div>